apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway-deployment
spec:
  replicas: 2 # Mantém duas instâncias rodando para alta disponibilidade
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
    containers:
      - name: api-gateway
        image: api-gateway:latest # Nome da imagem Docker que criamos
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway-service
spec:
  type: LoadBalancer # Expõe o serviço para fora do cluster (Internet)
  selector:
    app: api-gateway
  ports:
    - protocol: TCP
      port: 80         # Porta que o usuário acessa no navegador (ex: http://ip-do-servidor)
      targetPort: 8080 # Porta interna onde o container está ouvindo