apiVersion: apps/v1
kind: Deployment
metadata:
  name: pedidos-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pedidos
  template:
    metadata:
      labels:
        app: pedidos
    spec:
    containers:
      - name: pedidos
        image: pedidos-service:latest # Imagem gerada pelo Docker para pedidos
        ports:
        - containerPort: 3000
        env:
        - name: DB_HOST
          value: "database" # Nome do Service definido no database-deployment.yaml
        - name: DB_PORT
          value: "5432"
        - name: POSTGRES_USER
          value: "admin"
        - name: POSTGRES_PASSWORD
          value: "password123"
        - name: POSTGRES_DB
          value: "pedidos_db"
---
apiVersion: v1
kind: Service
metadata:
  name: pedidos
spec:
  selector:
    app: pedidos
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000